.staff-list {
    max-width: 930px;
    margin: 0 auto;
    padding: 50px 15px;
}

.staff-list__title {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    margin: 60px 0;
    border-left: 8px solid #000;
}

.staff-list__table-wrapper {
    overflow-x: auto;
    background-color: #fff;
    border-radius: 10px;
}

.staff-list__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: bold;
    color: #737373;
    letter-spacing: 0.15em;
}

.staff-list__th {
    padding: 12px 30px;
    text-align: center;
    border-bottom: 3px solid #e1e1e1;
}

.staff-list__td {
    padding: 12px 30px;
    text-align: center;
    border-top: 2px solid #e1e1e1;
}

.staff-list__detail-link {
    color: #000;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.staff-list__th:first-of-type,
.staff-list__td:first-of-type {
    padding-left: 100px;
}

.staff-list__th:last-of-type,
.staff-list__td:last-of-type {
    padding-right: 100px;
}

@media (max-width: 850px) {
    .staff-list__th:first-of-type,
    .staff-list__td:first-of-type {
        padding-left: 50px;
    }

    .staff-list__th:last-of-type,
    .staff-list__td:last-of-type {
        padding-right: 50px;
    }
}
