html,
body {
    width: 100%;
}

body,
input {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header {
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-link {
    text-decoration: none;
}

.header__logo-img {
    height: 36px;
    max-width: 370px;
    width: 25vw;
}

.header__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__nav-item {
    height: 100%;
    margin: 0;
}

.header__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
}

.logout-form {
    display: inline;
    margin: 0;
    padding: 0;
}

.logout-form__link {
    border: none;
    background: none;
    cursor: pointer;
}

.content {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #f0eff2;
}
